body {
  background-color: white;
}

.container {
  margin-top: 20px;
  margin-left: 10%;
}

.topcat {
  padding-left: 2.5rem;
  padding-top: 1.5rem;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.card {
  background-color: white;
  border-radius: 20px;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mb-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-title {
  font-size: 15px;
}

.card-text {
  font-size: 13px;
}

.navbarMenu .nav-item.active,
.navbarMenu .nav-item:hover {
  color: azure;
  background-color: #333;
}
.nav-link {
  color: rgb(0, 0, 0);
}

.contentImage {
  border-radius: 30px;
  width: 80%;
  height: 80%;
}

.contentcaption {
  text-align: center;
  font-size: 1.2em;
  width: 80%;
}

.button {
  width: 50%;
  height: 50%;
  font-size: 0.8em;
}

.username {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
