body{
  background-color: white;
}

.container{
  margin-top: 20px;
  margin-left: 10%;
}

.topcat{
  padding-left: 2.5rem;
  padding-top: 1.5rem;
}

img{
  width:150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 20px;
}

.navbar-brand img{
  width: 30px;
  height: 30px;
}

.card{
  background-color:white; 
  border-radius: 20px;  
}

.mb-4{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-title{
  font-size: 15px;
}

.card-text{
  font-size: 13px;
}

/*navbar change color*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #8a0e0b;
    background-color: #d65c14;
}

.nav-link { 
  color: rgb(0, 0, 0); 
} 