.gobackarrow {
  padding-left: 20px;
  padding-top: 0px;
}
/*Navbar*/
.navbar-nav > .active > a {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
}
.nav-item > a:hover {
  color: rgb(255, 255, 255);
}

.active {
  background-color: rgb(255, 0, 0);
}

.profile-img {
  border-radius: 50%;
}

.eventform {
  border-radius: 50px;
}

/*Event Image*/
.eventimage {
  width: 50%;
  height: 50%;
  border-radius: 20px;
}
.memberimage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
