body{
    font-family: 'Nunito', sans-serif;
}
.divCover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCover img{
    width: 50px;
    height: 50px;
}

a{
    text-decoration: none !important;
}

#userFullNameError, #userQualificationError, #userLocationError, #userEmailError, #userPasswordError, #userSIEmailError, #userSIPasswordError, #userBioError, #editProfileForm{
    display: none;
}

#userAvatar{
    width: 120px;
    height: 120px;
}

.bg-profile{
    border-radius: 20px;
}

/*profile image*/
.p-image{
    width: 30px;
    height: 30px;
}