body {
    background-color: #fffdfa;
    text-align:center;
    justify-content: center;
    font-family:'Avenir';
}

.mainbody{
    position: absolute;
    top: 10%;
    left: 21.5%;
}
.maintitle{
    display: flex;
    font-family:'Avenir';
    justify-content: center;
    font-size: 50px;
    text-align: center;
}

.username, .password{
    width: 380px;
    display: inline-block;
    font-family: 'Avenir';
    font-size: 20px;
    text-align: left;
}

.make-account-label{
    color: black;
    font-size: 15px;
}
.text-line {
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #050505 1px;
    padding: 10px;
}

input{
    width: 320px;
    font-size: 15px;
    font-size: 'Avenir';
}
.Login-button{
    display: block;
    text-decoration: none;
    font-family:'Avenir';
    font-size: 15px;
    background-color: #fbaf02;
    color: black;
    border-radius: 15px;
    padding: 12px 10px;
}

a.Login-button:hover{
    text-decoration: none;
    background-color:#f8d36c;
    color: black;
}

.mainicon{
    width: 9%;
    height: 9%;
}

.forgot-p{
    color: black;
    font-size: 15px;
}

.signup{
    color: cornflowerblue;
    font-size: 15px;
}