body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornsilk;
  overflow: hidden;
}
.title{
  display: flex;
  position: absolute;
  top:5%;
  font-family:'Lobster';
  font-size: 60px;
  left: 5%;
}
/*event card*/
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 150px 125px 60px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: 'roboto';
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card-image {
  grid-area: image;
  background: url("hot-pot.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image.card2 {
  background: url("thai\ food.jpg");
  background-size: cover;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}
.card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
  background: rgb(255, 77, 7);
}
/*card3*/
.card-image.card3 {
  background: url("fried\ chicken.jpg");
  background-size: cover;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}
.card-stats.card3 .border {
  border-left:1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card3 {
  background: rgb(0, 189, 63);
}
a {
    text-decoration: none;
    font-size: 22px;
}
.learnmore-btn {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: medium;
}
.learnmore-btn:hover, a:hover {
    opacity: 0.7;
}

/*search bar*/
.search-box{
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(0%,0%);
    background: #2f3640;
    height: 30px;
    border-radius: 40px;
    padding:10px;
}
.search-box:hover > .search-txt{
    width: 300px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background:white;
}
.search-btn{
    color:rgb(255, 0, 0);
    float: right;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

/*navegation bar*/
.navegation-body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:cornsilk ;
}

li, a, .contact-btn{
  font-family:'roboto';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration:none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  width: 25%;
  height: 25%;
}

.nav_links{
  list-style:none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: 0.4s ease 0s;
}

.nav_links li a:hover{
  color: #0088a9;
}

.contact-btn{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s ease 0s;
}

.contact-btn:hover{
  background-color: rgba(0,136,169,0.8);
}